// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: image-url('inglenook.JPG');
  background-size: cover;
  background-repeat: no-repeat;
  color: #800020;
  margin: 25px 50px 50px 25px;
}
